.alert {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(201, 14, 207);
  font-size: 20px;
  color: rgb(201, 14, 207);
  background-color: white;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  padding: 2px 12px;
  border-radius: 5px;
  border: 1px solid rgb(201, 14, 207);
  font-size: 20px;
  color: rgb(201, 14, 207);
  background-color: white;
  width: 20px;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: 50%;
}
